@import '../../assets/css/general.scss';

.pricing-hero__illustration {
    background-image: url('../../assets/images/pricing/mobile/hero.jpg');

    @media screen and (min-width: 564px) {
        & {
            background-image: url('../../assets/images/pricing/tablet/hero.jpg');
        }
    }

    @media screen and (min-width: 900px) {
        & {
            background-image: url('../../assets/images/pricing/desktop/hero.jpg');
        }
    }
}

.plans-section {
    @extend %px-5;
    @extend %py-2;

    @media screen and (min-width: 900px) {
       & {
           padding-bottom: 3rem;
           padding: 5rem 0;
       }
    }
}

.plans-section__controller {
    @extend %align-center;
    @extend %flex;
    @extend %justify-center;
    @extend %w-100;
    margin-bottom: 2rem;

    @media screen and (min-width: 501px) {
       & {
            margin-bottom: 3rem;
       }
    }

    @media screen and (min-width: 900px) {
        & {
            margin-bottom: 4rem;
        }
     }
}

.plans-section__duration {
    @extend %opacity-9;
    font-size: 1.1rem;
}

.active {
    font-weight: 700;
    opacity: 1;
}

.plans-section__toggle-button {
    @extend %align-center;
    @extend %border-none;
    @extend %flex;
    @extend %justify-start;
    @extend %outline-none;
    background-color: #979797;
    border-radius: 15px;
    height: 30px;
    margin: 0 4%;
    padding-left: 4px;
    padding-right: 4px;
    width: 55px;
}

.switcher {
    justify-content: flex-end !important;
}

.toggle {
    @extend %bg-black;
    border-radius: 50%;
    height: 90%;
    width: 56%;
}

.plans-section__division {
    @extend %align-stretch;
    @extend %flex;
    @extend %flex-column;
    @extend %justify-center;
    @extend %text-center;
    @extend %text-white;
    @extend %w-100;

     @media screen and (min-width: 900px) {
       & {
           flex-direction: row;
       }
    }
}