@import './general.scss';

.section {
    @extend %align-stretch;
    @extend %flex;
    @extend %flex-column;
    @extend %w-100;

    @media screen and (min-width: 564px) {
        & {
            flex-direction: row;
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }
}

.section__illustration {
    @extend %bg-cover;
    @extend %bg-center;
    @extend %bg-no-repeat;
    height: 250px;

    @media screen and (min-width: 564px) {
        & {
            height: 450px;
            width: 40%;
        }
    }

    @media screen and (min-width: 900px) {
        & {
            width: 60%;
        }
    }
}

.section__content {
    @extend %align-start;
    @extend %flex;
    @extend %flex-column;
    @extend %text-left;
    @extend %w-100;

    @media screen and (min-width: 564px) {
        & {
            justify-content: center;
            width: 60%;
        }
    }

    @media screen and (min-width: 900px) {
        & {
            width: 40%;
        }
    }
    
}
.section__division {
    @extend %flex;
    @extend %flex-column;
    @extend %h-100;
    @extend %relative;
    @extend %px-5;
    @extend %py-2;
    @extend %w-100;

    @media screen and (min-width: 564px) {
        & {
            height: auto;
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    @media screen and (min-width: 900px) {
        padding-left: 15%;
        padding-right: 15%;
    }
}

.section__content-title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 1px;
    opacity: .9;
    text-transform: uppercase;
}

.section__content-description {
    font-size: .95rem;
    line-height: 1.2rem;
    margin-top: .8rem;
    opacity: .8;
}

.section__content-link {
    @extend %decoration-none;
    @extend %text-black;
    @extend %uppercase;
    font-size: .9rem;
    margin-top: 1rem;
    transition: color 400ms;

    &:hover  {
        color: darken(#DFDFDF, 10%);
    }
}

.section__content-link--icon {
    @extend %bg-cover;
    @extend %bg-center;
    @extend %bg-no-repeat;
    background-image: url('../icons/arrow.svg');
    display: inline-block;
    height: 10px;
    margin-left: 7px;
    width: 37px;
}

.hero__bar {
    @extend %absolute;
    @extend %d-block;
    background-image: linear-gradient(to right, #FFC593, #BC7198, #5A77FF);
    height: 5px;
    top: 0;
    width: 30%;

    @media screen and (min-width: 564px) {
        & {
            background-image: linear-gradient(to bottom, #FFC593, #BC7198, #5A77FF);
            height: 90%;
            left: 0;
            bottom: 5%;
            top: 5%;
            width: 5px;
        }
    }
}