@import '../../assets/css/general.scss';
@import '../../assets/css/base.scss';

.header {
    @extend %flex;
    @extend %align-center;
    @extend %justify-between;
    @extend %px-5;
    @extend %py-1;
    @extend %w-100;
}

.header__navigation {
    @extend %d-none;
    @extend %align-stretch;
    @extend %flex-column;
    @extend %w-100;

    background: #FFF;
    box-shadow: 0 7px 7px #6d6d6d;
    left: 0%;
    position: absolute;
    padding: 1rem 5% 2rem 5%;
    top: 62px;
    z-index: 10;

    &--mobile {
        display: flex !important;
    }

    @media screen and (min-width: 565px) {
        background: transparent;
        box-shadow: none;
        display: flex;
        padding: 0;
        position: relative;
        top: 0;
        width: auto;
        z-index: 0;
    }
}

.header__list {
    @extend %align-center;
    @extend %flex;
    @extend %flex-column;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;

    @media screen and (min-width: 565px) {
        & {
            border-bottom: none;
            flex-direction: row;
            padding-bottom: 0;
        }
    }
}

.header__item {
    margin-bottom: 10px;

    @media screen and (min-width: 565px) {
        & {
            margin-bottom: 0;
            margin-left: 15px;
        }

        &:last-child {
            margin-left: 0;
        }
    }
}

.header__link {
    @extend %decoration-none;
    @extend %font-weight-7;
    @extend %text-black;
    @extend %uppercase;
    font-size: .8rem;
    padding: .4rem 1rem;
    transition: color 400ms;

    &:hover {
        color: darken(#DFDFDF, 10%);
    }

    @media screen and (min-width: 565px) {
        & {
            padding-left: .5rem;
            padding-right: .5rem;
        }
    }

    @media screen and (min-width: 842px) {
        & {
            font-size: .9rem;
            padding: .4rem 1rem;
        }
    }
}

.header__menu-button {
    @extend %flex;
    @extend %align-center;
    @extend %justify-center;
    @extend %flex-column;
    @extend %bg-transparent;
    @extend %outline-none;
    @extend %border-none;
    height: 30px;
    width: 32px;

    @media screen and (min-width: 565px) {
        & {
            display: none;
        }
    }
}

.header__line {
    @extend %w-100;
    background-color: $black;
    height: 2px;
    margin-bottom: 7px;
    transition: transform 400ms;

    &:last-child {
        margin-bottom: 0;
    }

    &--first {
        transform: rotate(50deg);transform: translateY(3px) rotate(43deg);
    }

    &--second {
        transform: translateY(-5px) rotate(-43deg);
    }
}

.header__invite-button {
    @extend %d-none;
    @extend %bg-black;
    @extend %decoration-none;
    @extend %font-weight-7;
    @extend %uppercase;
    @extend %text-white;
    @extend %py-1;
    font-size: .75rem;
    padding: .5rem 1rem;
    transition: background-color 400ms;

    &--mobile {
        @extend %text-center;
        @extend %w-100;
        display: block !important;
        margin-top: 1rem;
        padding: 1rem 0;
        word-spacing: 3px;
    }

    &:hover  {
        background-color: darken(#DFDFDF, 10%);
        color: #000;
    }

    @media screen and (min-width: 565px) {
        & {
            display: block;
        }

        &--mobile {
            display: none !important;
        }
    }
}

@import '../../assets/css/responsive.scss';